<h1>Sign In Existing User.</h1>

<form action="<%= sessions_url %>" method="POST">
  <label for="email_box">Email:</label>
  <input 
    id="email_box" 
    type="text" 
    name="user[email]" >
    
  <label for="password_box">Password: </label>
  <input 
    id="password_box" 
    type="password" 
    name="user[password]" >
    
  <input type="submit" value="Submit">
</form>